@font-face {
  font-family: 'Open Sans',sans-serif;
  src: url("/exerciseaht/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf");
  font-weight: 700;
  display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/exerciseaht/fonts/Montserrat/static/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/exerciseaht/fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/exerciseaht/fonts/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/exerciseaht/fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  display: block;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("/exerciseaht/fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  display: block;
}

ul, li {
  list-style: none;
}

.cover {
  position: fixed;
  height: 100vh;
  width: 100vh;
  opacity: 0;
  z-index: -1;
}

.header {
  border-bottom: 1px solid #ddddd3;
}

.header .container-fluid {
  padding: 0;
}

.header-menu__topmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46px;
  background-color: #222222;
  padding: 0;
  margin: 0;
  color: #666666;
  font-size: 14px;
  font-family: "Open Sans",sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

.header-menu__topmenu__greets {
  margin-left: 30px;
}

.header-menu__topmenu__list {
  margin-bottom: 0px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__topmenu__list .list__items {
  padding-left: 30px;
}

.header-menu__mainmenu {
  margin-left: 30px;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__mainmenu__franco {
  position: relative;
}

.header-menu__mainmenu__franco .franco {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 800;
  text-transform: uppercase;
  line-height: 0.75;
  letter-spacing: 15px;
  position: absolute;
  top: 32%;
  left: 8%;
}

.header-menu__mainmenu .responsive-bars {
  display: none;
}

.header-menu__mainmenu__list {
  margin-right: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__mainmenu__list .list__items {
  margin-left: 55px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: bold;
  color: #222222;
}

.header-menu__mainmenu__list .list__items:first-child a {
  color: #8262b5;
}

.header-menu__mainmenu__list .list__items a {
  color: #222222;
}

.header-menu__mainmenu__cart {
  margin: 6px 30px 0 0;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__mainmenu__cart .cart__list {
  margin-left: 25px;
}

.header-menu__mainmenu__cart .cart__list a,
.header-menu__mainmenu__cart .cart__list a:hover {
  color: #666666;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.banner {
  margin: 30px 0 47px 0;
}

.banner .container {
  max-width: 1170px;
}

.banner img {
  width: 100%;
}

.banner-ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-ad__left {
  position: relative;
  margin-right: 15px;
}

.banner-ad__left__detail {
  position: absolute;
  top: 54%;
  right: 90px;
}

.banner-ad__left__descr {
  font-family: "Pacifico";
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1px;
  margin-bottom: 13px;
}

.banner-ad__left__btn {
  height: 40px;
  width: 106px;
  background-color: #8262b5;
  color: white;
  font-size: 14px;
  font-family: "Montserrat";
  display: block;
  font-weight: 400;
  text-align: center;
  padding-top: 8px;
  text-decoration: none;
  margin-left: 212px;
}

.banner-ad__right {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-ad__right__top {
  position: relative;
  margin-bottom: 30px;
}

.banner-ad__right__top__detail {
  position: absolute;
  top: 42.5%;
  left: 57px;
}

.banner-ad__right__top .descr__top {
  color: #525252;
  font-size: 16px;
  letter-spacing: 3.3px;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0;
}

.banner-ad__right__top .descr__bot {
  font-size: 20px;
  font-family: "Montserrat";
  color: black;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.2;
}

.banner-ad__right__bot {
  position: relative;
  margin-bottom: 30px;
}

.banner-ad__right__bot__detail {
  position: absolute;
  top: 36.2%;
  left: 38px;
  text-decoration: none;
}

.banner-ad__right__bot__detail .descr__top {
  font-size: 16px;
  font-family: "Montserrat";
  letter-spacing: 3.5px;
  color: #616161;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0;
}

.banner-ad__right__bot__detail .descr__bot {
  font-size: 20px;
  font-family: "Montserrat";
  color: black;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.2;
}

.banner-ad__right__btn {
  height: 40px;
  width: 106px;
  background-color: #8262b5;
  color: white;
  font-size: 14px;
  font-family: "Montserrat";
  display: block;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.products {
  margin-top: 30px;
}

.products .container {
  max-width: 1170px;
}

.products__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.products__descr .franco {
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #8262b5;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 6px;
  margin-bottom: 10px;
}

.products__descr .feature__item {
  font-size: 24px;
  font-family: "Montserrat";
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 2.4px;
  margin-bottom: 23px;
}

.products__descr .custom__line {
  width: 50px;
  height: 2px;
  color: #8262b5;
  display: block;
  border-bottom: solid;
}

.products-items {
  margin: 48px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.products-items__detail {
  position: relative;
  width: calc(((100% + 30px) / 4) - 30px);
  margin: 0 30px 46px 0;
}

.products-items__detail:nth-child(4n) {
  margin-right: 0;
}

.products-items__detail__image {
  position: relative;
}

.products-items__detail__image .buttn {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: 12px;
  font-family: "Montserrat";
  color: #525252;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 3.167;
  outline: none;
  border: none;
  background-color: white;
  width: 118px;
  height: 40px;
}

.products-items__detail .buttn:hover {
  background-color: white;
  color: #8262b5;
}

.products-items__detail .list {
  padding-top: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products-items__detail .list .text {
  font-size: 14px;
  font-family: "Montserrat";
  color: black;
  line-height: 1.857;
  font-weight: 600;
  letter-spacing: -0.24px;
}

.products-items__detail .list .rating {
  font-size: 10px;
  color: #c7c6c6;
  margin: 5px 0;
}

.products-items__detail .list .rating .checker {
  color: #f7e227;
}

.products-items__detail .list .price {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #525252;
}

.products-items__detail .list .discount {
  color: #8262b5;
  font-weight: 700;
  padding-left: 1px;
}

a {
  text-decoration: none;
}

.slider {
  background-image: url("/exerciseaht/assets/image/bg-slider.jpg");
}

.slider .container {
  max-width: 1170px;
}

.slider .slider-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider p {
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  color: black;
  letter-spacing: 2.5px;
  padding-left: 4px;
}

.slider p:first-child {
  color: #8262b5;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 6px;
  margin: 74px 0 5px 6px;
}

.slider .custom-line {
  width: 52px;
  color: #8262b5;
  display: inline-block;
  border-bottom: 1px solid;
  padding-top: 4px;
}

.slider .row {
  margin: 50px 0 0;
  padding-bottom: 106px;
}

.slider .row .slick-slide {
  margin: 3px 18px;
}

.slider .row .slick-list {
  margin: 0 -18px;
}

.slider .row .slick-dots {
  bottom: 63px;
  padding-left: 5px;
}

.slider .row .slick-dots li button:hover:before {
  color: #8262b5;
}

.slider .row .slick-dots .slick-slider {
  margin-bottom: 0;
}

.slider .row .slick-dots li button:focus:before {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.slider .row .slick-dots li button:before {
  font-size: 10px;
  color: #8262b5;
}

.slider .row .slick-dots li button:active {
  color: #8262b5;
}

.slider .row:nth-child(3n) {
  margin-right: 0;
}

.slider .row-detail {
  background-color: white;
  margin-right: 30px;
}

.slider .row-detail img {
  width: 100%;
}

.slider .row-detail__image {
  position: relative;
}

.slider .row-detail .day {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #a1d1dd;
  top: 22px;
  left: 20px;
}

.slider .row-detail .day ul {
  margin: 10px 5px 4px 5px;
  text-align: center;
  color: white;
}

.slider .row-detail .day ul li {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 700;
}

.slider .row-detail .day ul li:first-child {
  font-weight: 400;
  margin-top: 3px;
}

.slider .row-detail .day::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  border: 1px solid white;
  top: 10%;
  left: 10%;
}

.slider .row-detail .detail-title {
  margin: 18px 20px 17px 19px;
  font-size: 16px;
  color: black;
  line-height: 1.225;
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 600;
}

.slider .row-detail .detail-title:hover {
  color: #8262b5;
  cursor: pointer;
}

.slider .row-detail .paragr {
  padding: 0 20px 18px 20px;
  font-size: 14px;
  color: black;
  line-height: 1.571;
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 400;
  border-bottom: 1px solid #ededed;
}

.slider .row-detail .client-react {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 20px 16px 20px;
  line-height: 1.571;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.slider .row-detail .client-react a {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #c8c8c8;
  padding-right: 32px;
}

.slider .row-detail .client-react i {
  padding-right: 5px;
}

a {
  text-decoration: none;
  color: #888888;
}

a:hover {
  color: #f7f7f7;
}

.footer {
  background-color: #222222;
}

.footer .container {
  max-width: 1170px;
}

.footer-content {
  padding-bottom: 37px;
}

.footer-content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 58px;
}

.footer-content__colleft {
  width: 30%;
  margin-right: 130px;
}

.footer-content__colleft .content-title {
  color: #f7f7f7;
  margin-bottom: 23px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.75px;
}

.footer-content__colleft .break-line {
  width: 260px;
  display: block;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 22px;
}

.footer-content__colleft .content-descr {
  color: #f7f7f7;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #888888;
  letter-spacing: -0.46px;
  line-height: 21.5px;
  padding-right: 5px;
}

.footer-content__colleft .content-descr a {
  color: #888888;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 500;
  width: 205px;
}

.footer-content__colleft .content-descr i {
  padding-right: 15px;
  font-size: 14px;
}

.footer-content__colleft .list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 66px;
}

.footer-content__colleft .list-icon li {
  color: #888888;
  padding-right: 30px;
  letter-spacing: 1.5px;
}

.footer-content__colright {
  width: 30%;
}

.footer-content__colright .content-title {
  color: #f7f7f7;
  margin-bottom: 23px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
}

.footer-content__colright .break-line {
  width: 260px;
  display: block;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 22px;
}

.footer-content__colright .content-descr {
  color: #f7f7f7;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #888888;
  letter-spacing: -0.46px;
  line-height: 21.5px;
  padding-right: 40px;
}

.footer-content__colright .content-descr i {
  padding-right: 15px;
  font-size: 14px;
  line-height: 2.35;
}

.footer-content__colright .content-descr a {
  color: #888888;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  width: 205px;
}

.footer-content__colright .content-descr li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2.35;
}

.footer-content__colright .list-icon {
  padding-top: 44px;
}

.footer-content__colright .list-icon li {
  color: #888888;
  padding-right: 30px;
  letter-spacing: 1.5px;
}

.footer-content__colmid {
  width: 40%;
  margin-right: 130px;
}

.footer-content__colmid .content-title {
  color: #f7f7f7;
  margin-bottom: 21px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  padding-top: 2px;
}

.footer-content__colmid .break-line {
  width: 360px;
  display: block;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 21px;
}

.footer-content__colmid .content-descr {
  color: #f7f7f7;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #888888;
}

.footer-content__colmid .content-descr__row {
  line-height: 2.143;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer-content__colmid .content-descr__row .nav-li:first-child {
  padding-right: 125px;
}

.footer-content__colmid .content-descr__row li:hover {
  color: #f7f7f7;
  text-decoration: underline;
}

.footer hr {
  margin: 0 0 20px 0;
  color: 1px solid #393939;
  border-bottom: solid;
}

.footer .footer-copyright {
  padding-bottom: 18px;
}

.footer .footer-copyright__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-copyright .copyright-aht {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 1.8;
  color: #888888;
}

.footer .footer-copyright .copyright-aht i:nth-child(2) {
  color: #ff4628;
}

.footer .footer-copyright .list-icons {
  color: #888888;
  font-size: 20px;
}

@media screen and (max-width: 1406px) {
  .header-menu__mainmenu__list {
    margin-right: 40px;
  }
  .header-menu__mainmenu__list .list__items {
    margin-left: 39px;
  }
}

@media screen and (max-width: 1170px) {
  .header-menu__mainmenu__list {
    margin-right: 0;
  }
  .header-menu__mainmenu__list .list__items {
    margin-left: 25px;
  }
  .responsive-bars {
    display: none;
    font-size: 24px;
  }
  .banner-ad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner-ad__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
    width: 100%;
  }
  .banner-ad__left img {
    width: 100%;
  }
  .banner-ad__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding-left: 0;
    margin-top: 30px;
  }
  .banner-ad__right img {
    width: 100%;
  }
  .banner-ad__right .banner-ad__right__top {
    margin: 0 30px 0 0;
    width: 50%;
  }
  .banner-ad__right .banner-ad__right__bot {
    width: 50%;
    padding-top: 0;
    margin-bottom: 0;
    overflow: hidden;
  }
  .banner-ad__right .banner-ad__right__bot img {
    position: absolute;
  }
  .banner-ad__right .banner-ad__right__bot .descr__top {
    top: 38.5%;
  }
  .banner-ad__right .banner-ad__right__bot .descr__bot {
    top: 47%;
  }
  .banner-ad__right .banner-ad__right__bot .banner-ad__right__btn {
    left: 11%;
    top: 59.5%;
  }
  .products {
    padding: 77px 0 30px 0px;
  }
  .products .products-items__detail {
    width: calc((( 100% + 20px ) / 4 ) - 20px);
    margin: 0 20px 46px 0;
  }
  .products .products-items__detail:nth-child(4n) {
    margin-right: 0;
  }
  .slider .row-detail {
    width: 300px;
  }
  .footer-content__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-content__row .footer-content__colleft {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .header-menu__mainmenu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 999;
    position: fixed;
    background-color: #c7c6c6;
    width: 35wh;
    height: 100vh;
    display: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
  }
  .list__items {
    padding: 16px 16px;
  }
  .active {
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1000;
    top: 47px;
    right: 0;
    position: absolute;
  }
  .header-menu__mainmenu .responsive-bars {
    display: block;
    position: relative;
  }
  .banner-ad__left {
    margin-right: 0;
  }
  .banner-ad__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .slider .row .row-detail {
    width: 745px;
  }
  .footer-content__colleft {
    margin-right: 220px;
  }
  .footer-content__colleft .break-line {
    width: 240px;
  }
  .footer-content__colleft .list-icon {
    padding-top: 20px;
  }
  .footer-content__colmid {
    margin-right: 60px;
  }
  .footer-content__colmid .break-line {
    width: 300px;
  }
  .footer-content__colright .break-line {
    width: 240px;
  }
}

@media screen and (max-width: 768px) {
  .header-menu__topmenu {
    font-size: 10px;
  }
  .banner-ad__left .banner-ad__left__detail {
    right: 40px;
  }
  .banner-ad__left .banner-ad__left__descr {
    font-size: 25px;
    letter-spacing: 0.5px;
  }
  .banner-ad__left .banner-ad__left__btn {
    width: 82px;
    height: 36px;
    font-size: 12px;
    margin-left: 194px;
  }
  .banner-ad__right .banner-ad__right__top {
    width: 100%;
    margin-bottom: 30px;
  }
  .banner-ad__right .banner-ad__right__bot img {
    position: relative;
  }
  .banner-ad__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-ad__right__bot img {
    position: relative;
  }
  .banner-ad__right__top {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }
  .banner-ad__right__top .descr__top {
    font-size: 15px;
  }
  .banner-ad__right__top .descr__bot {
    font-size: 17px;
  }
  .banner-ad__right .banner-ad__right__bot {
    width: 100%;
    height: 100%;
  }
  .banner-ad__right .banner-ad__right__bot__detail {
    left: 57px;
  }
  .banner-ad__right .banner-ad__right__bot .descr__top {
    font-size: 15px;
  }
  .banner-ad__right .banner-ad__right__bot .descr__bot {
    font-size: 17px;
  }
  .banner-ad__right .banner-ad__right__bot .banner-ad__right__btn {
    width: 82px;
    height: 36px;
    font-size: 12px;
  }
  .products .products-items__detail {
    width: calc((( 100% + 20px ) / 2 ) - 20px);
    margin: 0 20px 46px 0;
  }
  .products .products-items__detail:nth-child(2n) {
    margin-right: 0;
  }
  .products .products-items__detail img {
    width: 100%;
  }
  .slider .row-detail {
    width: 530px;
  }
  .footer-content__colleft {
    width: 230px;
  }
  .footer-content__colleft .break-line {
    width: 200px;
  }
  .footer-content__colmid {
    margin-right: 60px;
  }
  .footer-content__colmid .break-line {
    width: 200px;
  }
  .footer-content__colmid .content-descr__row .nav-li:first-child {
    padding-right: 40px;
  }
  .footer-content__colright .break-line {
    width: 200px;
  }
}

@media screen and (max-width: 576px) {
  .header-menu__topmenu {
    display: none;
  }
  .cart__list {
    display: none;
  }
  .header-menu__mainmenu__list {
    top: 80px;
  }
  .banner-ad__left .banner-ad__left__btn {
    width: 87px;
    height: 37px;
    font-size: 12px;
    margin-left: 117px;
  }
  .banner-ad__left .banner-ad__left__descr {
    font-size: 18px;
  }
  .banner-ad__right__bot .banner-ad__right__btn {
    width: 87px;
    height: 36px;
    font-size: 12px;
  }
  .products .products-items__detail {
    width: 100%;
    margin-right: 0;
  }
  .footer .container {
    padding: 0 15px;
  }
  .footer-content__colleft {
    width: 100%;
  }
  .footer-content__colmid {
    margin-bottom: 30px;
    width: 100%;
  }
  .footer-content__colright {
    width: 100%;
  }
  .footer-copyright__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-copyright__content .list-icon {
    font-size: 11px;
  }
  .footer-copyright__content .copyright-aht {
    font-size: 11px;
  }
}

@media screen and (max-width: 426px) {
  .header-menu__mainmenu__cart .cart__list {
    display: none;
  }
  .header-menu__mainmenu {
    margin-right: 30px;
  }
  .header-menu__mainmenu__list {
    right: 0;
    top: 22.5%;
  }
  .header-menu__mainmenu__list .list__items {
    padding: 10px 10px;
  }
  .banner-ad__left .banner-ad__left__btn {
    width: 80px;
    height: 35px;
    font-size: 12px;
    margin-left: 100px;
  }
  .banner-ad__left .banner-ad__left__descr {
    font-size: 16px;
  }
  .banner-ad__right__top__detail {
    top: 35.5%;
    left: 18px;
  }
  .banner-ad__right__top .descr__top {
    font-size: 12px;
  }
  .banner-ad__right__top .descr__bot {
    font-size: 13px;
  }
  .banner-ad__right__bot .banner-ad__right__bot__detail {
    top: 36.2%;
    left: 18px;
  }
  .banner-ad__right__bot .descr__top {
    font-size: 14px;
  }
  .banner-ad__right__bot .banner-ad__right__btn {
    width: 70px;
    height: 35px;
  }
  .banner-ad__right__bot .descr__bot {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .products-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .header-menu__mainmenu__list {
    top: 20px;
    right: 0;
    width: 26vh;
    height: 100vh;
  }
  .banner-ad__left .banner-ad__left__detail {
    right: 24px;
  }
  .banner-ad__left .banner-ad__left__descr {
    font-size: 15px;
  }
  .banner-ad__left .banner-ad__left__btn {
    width: 83px;
    height: 31px;
    padding-top: 6px;
    font-size: 13px;
    margin-left: 88px;
  }
  .banner-ad__right img {
    height: 160px;
  }
  .banner-ad__right__top .descr__top {
    font-size: 11px;
  }
  .banner-ad__right__top .descr__bot {
    font-size: 13px;
  }
  .banner-ad__right__bot .banner-ad__right__bot__detail {
    top: 36.2%;
    left: 18px;
  }
  .banner-ad__right__bot .descr__top {
    font-size: 12px;
  }
  .banner-ad__right__bot .descr__bot {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .banner-ad__right__bot .banner-ad__right__btn {
    width: 70px;
    height: 30px;
    font-size: 12px;
    padding-top: 6px;
    padding-left: 0px;
  }
}
/*# sourceMappingURL=index.css.map */