@font-face {
  font-family: 'Open Sans',sans-serif;
  src: url("/exerciseaht/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf");
  font-weight: 700;
  display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/exerciseaht/fonts/Montserrat/static/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/exerciseaht/fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  display: block;
  font-style: normal;
}

ul, li {
  list-style: none;
}

.cover {
  position: fixed;
  height: 100vh;
  width: 100vh;
  opacity: 0;
  z-index: -1;
}

.header {
  border-bottom: 1px solid #ddddd3;
}

.header .container-fluid {
  padding: 0;
}

.header-menu__topmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46px;
  background-color: #222222;
  padding: 0;
  margin: 0;
  color: #525252;
  font-size: 14px;
  font-family: "Open Sans",sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

.header-menu__topmenu__greets {
  margin-left: 30px;
}

.header-menu__topmenu__list {
  margin-bottom: 0px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__topmenu__list .list__items {
  padding-left: 30px;
}

.header-menu__mainmenu {
  margin-left: 30px;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__mainmenu__franco {
  position: relative;
}

.header-menu__mainmenu__franco .franco {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 800;
  text-transform: uppercase;
  line-height: 0.75;
  letter-spacing: 15px;
  position: absolute;
  top: 32%;
  left: 8%;
}

.header-menu__mainmenu .responsive-bars {
  display: none;
}

.header-menu__mainmenu__list {
  padding-bottom: 0;
  position: absolute;
  left: 25.3%;
  top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__mainmenu__list .list__items {
  padding-left: 55px;
  text-transform: uppercase;
  padding-top: 8px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: bold;
}

.header-menu__mainmenu__list .list__items:first-child {
  color: #8262b5;
}

.header-menu__mainmenu__cart {
  margin-right: 30px;
  font-size: 30px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__mainmenu__cart .cart__list {
  padding-left: 22px;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/exerciseaht/fonts/Montserrat/static/Montserrat-Regular.ttf");
  font-style: normal;
  display: block;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/exerciseaht/fonts/Montserrat/static/Montserrat-Medium.ttf");
  font-style: normal;
  display: block;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/exerciseaht/fonts/Montserrat/static/Montserrat-ExtraBold.ttf");
  font-style: normal;
  display: block;
  font-weight: 800;
}

.banner {
  padding-top: 30px;
}

.banner-ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-ad__horizontal {
  padding-right: 15px;
}

.banner-ad__horizontal__ad01 {
  position: relative;
}

.banner-ad__horizontal__ad01 .ad01__descr {
  position: absolute;
  left: 44.9%;
  top: 56.9%;
  font-weight: 700;
  font-size: 30px;
  font-family: "Pacifico";
  line-height: 1.2;
  letter-spacing: 0.1px;
}

.banner-ad__horizontal__ad01 .ad01-btn {
  position: absolute;
  color: white;
  background-color: #8262b5;
  width: 106px;
  height: 40px;
  left: 73.3%;
  top: 65.65%;
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
  padding-top: 8px;
}

.banner-ad__vertical {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-ad__vertical__ad02 {
  position: relative;
}

.banner-ad__vertical__ad02 .ad02__descr1 {
  position: absolute;
  font-size: 16px;
  letter-spacing: 3.3px;
  font-family: "Montserrat";
  color: #525252;
  top: 42%;
  left: 15.2%;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2;
}

.banner-ad__vertical__ad02 .ad02__descr2 {
  position: absolute;
  font-size: 20px;
  font-family: "Montserrat";
  color: black;
  top: 52%;
  left: 15.2%;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.2;
}

.banner-ad__vertical__ad03 {
  padding-top: 30px;
  position: relative;
}

.banner-ad__vertical__ad03 .ad03__descr1 {
  position: absolute;
  font-size: 16px;
  font-family: "Montserrat";
  letter-spacing: 3.5px;
  color: #616161;
  top: 41.5%;
  left: 10.5%;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2;
}

.banner-ad__vertical__ad03 .ad03__descr2 {
  position: absolute;
  font-size: 20px;
  font-family: "Montserrat";
  color: black;
  top: 47%;
  left: 10.5%;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.2;
}

.banner-ad__vertical__ad03 .ad03-btn {
  position: absolute;
  color: white;
  background-color: #8262b5;
  width: 108px;
  height: 40px;
  left: 11.5%;
  top: 58.5%;
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
  padding-top: 8px;
  padding-left: 5px;
}

ul, li {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/exerciseaht/fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/exerciseaht/fonts/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  display: block;
  font-style: normal;
}

.products {
  padding: 77px 77px 0px 77px;
}

.products .container {
  padding-left: 0;
  padding-right: 0;
}

.products-sell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-sell__descr .franco {
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #8262b5;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 6px;
  margin-bottom: 10px;
}

.products-sell__descr .feature__item {
  font-size: 24px;
  font-family: "Montserrat";
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 2.4px;
  margin-bottom: 23px;
}

.products-sell__descr .custom__line {
  width: 50px;
  height: 2px;
  color: #8262b5;
  display: block;
  border-bottom: solid;
}

.products-items {
  padding-top: 50px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-items__detail {
  position: relative;
  width: 262px;
  margin-bottom: 46px;
}

.products-items__detail .buttn {
  position: absolute;
  top: 67.9%;
  left: 1.85%;
  font-size: 12px;
  font-family: 'Montserrat';
  color: #525252;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 3.167;
  outline: none;
  border: none;
  background-color: white;
  width: 118px;
  height: 40px;
}

.products-items__detail .buttn:hover {
  background-color: white;
  color: #8262b5;
}

.products-items__detail .list {
  padding-top: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products-items__detail .list .text {
  font-size: 14px;
  font-family: 'Montserrat';
  color: black;
  line-height: 1.857;
  font-weight: 600;
  letter-spacing: -0.24px;
}

.products-items__detail .list .rating {
  font-size: 10px;
  color: #c7c6c6;
  padding-top: 5px;
}

.products-items__detail .list .rating .checker {
  color: #f7e227;
}

.products-items__detail .list .cost {
  padding-top: 5px;
}

.products-items__detail .list .cost .price {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #525252;
}

.products-items__detail .list .cost .discount {
  color: #8262b5;
  font-weight: 700;
  padding-left: 1px;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/exerciseaht/fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  display: block;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/exerciseaht/fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  display: block;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("/exerciseaht/fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  display: block;
}

a {
  text-decoration: none;
}

.slider {
  background-image: url("/exerciseaht/assets/image/bg-slider.jpg");
}

.slider .container {
  padding-left: 0px;
  padding-right: 0px;
}

.slider .slider-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider p {
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  color: black;
  letter-spacing: 2.5px;
  padding-left: 4px;
}

.slider p:first-child {
  color: #8262b5;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 6px;
  margin-top: 76px;
  margin-bottom: 5px;
  padding-left: 6px;
}

.slider .custom-line {
  width: 50px;
  color: #8262b5;
  display: inline-block;
  border-bottom: 1px solid;
  padding-top: 4px;
}

.slider-element {
  padding-top: 50px;
  padding-bottom: 83px;
}

.slider-element__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-element__row .slick-dots {
  bottom: -48px;
  padding-left: 5px;
}

.slider-element__row .slick-dots li button:hover:before {
  color: #8262b5;
}

.slider-element__row .slick-dots li button:focus:before {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.slider-element__row .slick-dots li button:before {
  font-size: 10px;
  color: #8262b5;
}

.slider-element__row .slick-dots li button:active {
  color: #8262b5;
}

.slider-element__detail {
  position: relative;
  background-color: white;
  width: 360px;
  margin-right: 30px;
}

.slider-element__detail img {
  width: 100%;
}

.slider-element__detail .block {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #a1d1dd;
  top: 5.96%;
  left: 5.7%;
}

.slider-element__detail .block ul {
  width: 48px;
  height: 48px;
  border: 1px solid white;
  margin: 5px 5px 4px 5px;
  text-align: center;
  color: white;
}

.slider-element__detail .block ul li {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 700;
}

.slider-element__detail .block ul li:first-child {
  font-family: 'Montserrat';
  font-weight: 400;
  margin-top: 3px;
}

.slider-element__detail .detail-title {
  padding: 15px 20px 17px 20px;
  font-size: 16px;
  color: black;
  line-height: 1.225;
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 600;
}

.slider-element__detail .detail-title:hover {
  color: #8262b5;
  cursor: pointer;
}

.slider-element__detail .paragr {
  padding: 0 20px 18px 20px;
  font-size: 14px;
  color: black;
  line-height: 1.571;
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 400;
  border-bottom: 1px solid #ededed;
}

.slider-element__detail .client-react {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 20px 16px 20px;
  line-height: 1.571;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.slider-element__detail .client-react a {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #c8c8c8;
  padding-right: 32px;
}

.slider-element__detail .client-react i {
  padding-right: 5px;
}

@font-face {
  font-family: 'Montserrat';
  src: url(/exerciseaht/fonts/Montserrat/static/Montserrat-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  display: block;
}

@font-face {
  font-family: 'Open Sans',sans-serif;
  src: url(/exerciseaht/fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
  display: block;
}

.footer {
  background-color: #222222;
}

.footer .container {
  padding: 0;
}

.footer-content {
  padding-bottom: 37px;
}

.footer-content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 58px;
}

.footer-content__colleft {
  width: 30%;
  margin-right: 130px;
}

.footer-content__colleft .content-title {
  color: #f7f7f7;
  margin-bottom: 23px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.75px;
}

.footer-content__colleft .break-line {
  width: 260px;
  display: block;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 22px;
}

.footer-content__colleft .content-descr {
  color: #f7f7f7;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #888888;
  letter-spacing: -0.46px;
  line-height: 21.5px;
  padding-right: 5px;
}

.footer-content__colleft .content-descr a {
  color: #888888;
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 500;
  width: 205px;
}

.footer-content__colleft .content-descr i {
  padding-right: 15px;
  font-size: 14px;
}

.footer-content__colleft .content-descr tr {
  line-height: 2.4;
}

.footer-content__colleft .content-descr tr:first-child i {
  padding-bottom: 40px;
}

.footer-content__colleft .list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 66px;
}

.footer-content__colleft .list-icon li {
  color: #888888;
  padding-right: 30px;
  letter-spacing: 1.5px;
}

.footer-content__colright {
  width: 30%;
}

.footer-content__colright .content-title {
  color: #f7f7f7;
  margin-bottom: 23px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
}

.footer-content__colright .break-line {
  width: 260px;
  display: block;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 22px;
}

.footer-content__colright .content-descr {
  color: #f7f7f7;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #888888;
  letter-spacing: -0.46px;
  line-height: 21.5px;
  padding-right: 40px;
}

.footer-content__colright .content-descr a {
  color: #888888;
  text-decoration: none;
  font-family: 'Open Sans',sans-serif;
  font-weight: 500;
  width: 205px;
}

.footer-content__colright .content-descr i {
  padding-right: 15px;
  font-size: 14px;
}

.footer-content__colright .content-descr tr {
  line-height: 2.3;
}

.footer-content__colright .content-descr tr:first-child i {
  padding-bottom: 40px;
}

.footer-content__colright .list-icon {
  padding-top: 44px;
}

.footer-content__colright .list-icon li {
  color: #888888;
  padding-right: 30px;
  letter-spacing: 1.5px;
}

.footer-content__colmid {
  width: 40%;
  margin-right: 130px;
}

.footer-content__colmid .content-title {
  color: #f7f7f7;
  margin-bottom: 21px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  padding-top: 2px;
}

.footer-content__colmid .break-line {
  width: 360px;
  display: block;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 21px;
}

.footer-content__colmid .content-descr {
  color: #f7f7f7;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #888888;
}

.footer-content__colmid .content-descr__row {
  line-height: 2.143;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer-content__colmid .content-descr__row .nav-li:first-child {
  padding-right: 125px;
}

.footer-content__colmid .content-descr__row li:hover {
  color: #f7f7f7;
  text-decoration: underline;
}

.footer-content__colmid .content-descr li:hover {
  color: #f7f7f7;
  text-decoration: underline;
}

.footer hr {
  margin: 0 0 20px 0;
  color: 1px solid #393939;
  border-bottom: solid;
}

.footer .footer-copyright {
  padding-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-copyright .copyright-aht {
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 1.8;
  color: #888888;
}

.footer .footer-copyright .copyright-aht i:nth-child(2) {
  color: #ff4628;
}

.footer .footer-copyright .list-icons {
  color: #888888;
  font-size: 20px;
}

@media screen and (max-width: 1170px) {
  .header-menu__mainmenu__list .list__items {
    padding-left: 21px;
  }
  .responsive-bars {
    display: none;
  }
  .banner-ad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner-ad__horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
    width: 100%;
  }
  .banner-ad__horizontal__ad01 {
    width: 100%;
  }
  .banner-ad__horizontal img {
    width: 100%;
  }
  .banner-ad__vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding-left: 0;
    margin-top: 30px;
  }
  .banner-ad__vertical img {
    height: 260px;
    width: 100%;
  }
  .banner-ad__vertical .banner-ad__vertical__ad02 {
    margin: 0 30px 0 0;
    width: 50%;
  }
  .banner-ad__vertical .banner-ad__vertical__ad03 {
    width: 50%;
    padding-top: 0;
  }
  .banner-ad__vertical .banner-ad__vertical__ad03 .banner-ad__vertical__ad03 .ad03__descr1 {
    top: 38.5%;
  }
  .banner-ad__vertical .banner-ad__vertical__ad03 .banner-ad__vertical__ad03 .ad03__descr2 {
    top: 47%;
  }
  .banner-ad__vertical .banner-ad__vertical__ad03 .banner-ad__vertical__ad03 .ad03-btn {
    left: 11%;
    top: 59.5%;
  }
  .products {
    padding: 77px 0 30px 0px;
  }
  .products .container {
    padding: 0 15px 0 15px;
  }
  .slider-element__detail {
    width: 300px;
  }
  .footer-content__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-content__row .footer-content__colleft {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1503px) {
  .header-menu__mainmenu__list {
    top: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .header-menu__mainmenu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 999;
    top: 15%;
    position: fixed;
    left: 70.5%;
    background-color: #c7c6c6;
    width: 30vh;
    height: 100vh;
    -webkit-transform: translateX(180%);
            transform: translateX(180%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .list__items {
    padding: 16px 16px;
  }
  .active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1000;
  }
  .header-menu__mainmenu .responsive-bars {
    display: block;
  }
  .footer-content__colleft {
    margin-right: 220px;
  }
  .footer-content__colleft .break-line {
    width: 240px;
  }
  .footer-content__colleft .list-icon {
    padding-top: 20px;
  }
  .footer-content__colmid {
    margin-right: 60px;
  }
  .footer-content__colmid .break-line {
    width: 300px;
  }
  .footer-content__colright .break-line {
    width: 240px;
  }
}

@media screen and (max-width: 768px) {
  .header-menu__topmenu {
    font-size: 10px;
  }
  .header-menu__mainmenu__list {
    left: 64%;
    top: 15%;
  }
  .banner-ad__horizontal__ad01 .ad01__descr {
    font-size: 23px;
  }
  .banner-ad__horizontal__ad01 .ad01-btn {
    width: 103px;
  }
  .banner-ad__vertical__ad02 .ad02__descr1 {
    font-size: 15px;
  }
  .banner-ad__vertical__ad02 .ad02__descr2 {
    font-size: 17px;
    top: 50%;
  }
  .banner-ad__vertical__ad03 .ad03__descr1 {
    font-size: 15px;
  }
  .banner-ad__vertical__ad03 .ad03__descr2 {
    font-size: 17px;
    top: 48%;
  }
  .banner-ad__vertical__ad03 .ad03-btn {
    left: 10.5%;
    width: 102px;
    height: 38px;
  }
  .products-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .products-items__detail {
    width: 264px;
  }
  .products-items__detail img {
    width: 100%;
  }
  .slider-element__detail {
    width: 530px;
  }
  .footer-content__colleft {
    width: 230px;
  }
  .footer-content__colleft .break-line {
    width: 200px;
  }
  .footer-content__colmid {
    margin-right: 60px;
  }
  .footer-content__colmid .break-line {
    width: 200px;
  }
  .footer-content__colmid .content-descr__row .nav-li:first-child {
    padding-right: 40px;
  }
  .footer-content__colright .break-line {
    width: 200px;
  }
}

@media screen and (max-width: 576px) {
  .header-menu__topmenu {
    display: none;
  }
  .header-menu__mainmenu__list {
    left: 55%;
    top: 9.5%;
  }
  .banner-ad__horizontal__ad01 .ad01-btn {
    width: 100px;
    height: 37px;
    font-size: 14px;
    left: 70.3%;
  }
  .banner-ad__horizontal__ad01 .ad01__descr {
    font-size: 22px;
  }
  .banner-ad__vertical__ad03 .ad03__descr1 {
    top: 38.5%;
  }
  .banner-ad__vertical__ad03 .ad03__descr2 {
    top: 46%;
  }
  .banner-ad__vertical__ad03 .ad03-btn {
    left: 11%;
    width: 100px;
    height: 36px;
  }
  .products-items__detail {
    width: 264px;
  }
  .footer .container {
    padding: 0 15px;
  }
  .footer .footer-content__colleft {
    width: 100%;
  }
  .footer .footer-content__colmid {
    margin-bottom: 30px;
    width: 100%;
  }
  .footer .footer-content__colright {
    width: 100%;
  }
}

@media screen and (max-width: 426px) {
  .header-menu__mainmenu__cart {
    display: none;
  }
  .header-menu__mainmenu {
    margin-right: 30px;
  }
  .header-menu__mainmenu__list {
    left: 38%;
    top: 9.5%;
  }
  .header-menu__mainmenu__list .list__items {
    padding: 10px 10px;
  }
  .banner-ad__horizontal__ad01 .ad01-btn {
    width: 100px;
    height: 35px;
    font-size: 14px;
    left: 63.3%;
  }
  .banner-ad__horizontal__ad01 .ad01__descr {
    font-size: 16px;
    left: 43.9%;
  }
  .banner-ad__vertical__ad02 .ad02__descr1 {
    top: 44%;
    font-size: 12px;
  }
  .banner-ad__vertical__ad02 .ad02__descr2 {
    top: 52%;
    font-size: 15px;
  }
  .banner-ad__vertical__ad03 .ad03__descr1 {
    top: 44%;
    font-size: 14px;
  }
  .banner-ad__vertical__ad03 .ad03-btn {
    left: 11%;
    width: 90px;
    height: 35px;
  }
  .banner-ad__vertical__ad03 .ad03__descr2 {
    top: 50%;
    font-size: 14px;
  }
  .products-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider-element__detail {
    width: 370px;
  }
}

@media screen and (max-width: 375px) {
  .header-menu__mainmenu__list {
    left: 44%;
    top: 9%;
    width: 26vh;
    height: 100vh;
  }
  .banner-ad__horizontal__ad01 .ad01__descr {
    font-size: 15px;
    left: 41.3%;
  }
  .banner-ad__horizontal__ad01 .ad01-btn {
    width: 83px;
    height: 31px;
    padding-top: 6px;
    font-size: 13px;
    left: 64.3%;
  }
  .banner-ad__vertical img {
    height: 160px;
  }
  .banner-ad__vertical__ad02 .ad02__descr1 {
    top: 45%;
    font-size: 11px;
  }
  .banner-ad__vertical__ad02 .ad02__descr2 {
    top: 52%;
    font-size: 13px;
  }
  .banner-ad__vertical__ad03 .ad03__descr1 {
    top: 37%;
    font-size: 12px;
  }
  .banner-ad__vertical__ad03 .ad03__descr2 {
    top: 47%;
    font-size: 12px;
  }
  .banner-ad__vertical__ad03 .ad03-btn {
    left: 11%;
    width: 84px;
    height: 30px;
    font-size: 12px;
    padding-top: 6px;
    padding-left: 0px;
  }
}
/*# sourceMappingURL=index.css.map */