$color-purple:rgb(130, 98, 181);
$color-white: rgb(255,255,255);
$color-grey: rgb(82,82,82);
$color-black: rgb(0,0,0);

a{
    text-decoration: none;
}

.banner {
    margin: 30px 0 47px 0;
    .container {
        max-width: 1170px;
    }
    img {
        width: 100%;
    }
    &-ad {
        display: flex;
        &__left {
            position: relative;
            margin-right: 15px;
            &__detail {
                position: absolute;
                top: 54%;
                right: 90px;
            }
            &__descr {
                font-family: "Pacifico";
                font-size: 30px;
                font-weight: 700;
                line-height: 1.2;
                letter-spacing: 0.1px;
                margin-bottom: 13px;
            }
            &__btn {
                height: 40px;
                width: 106px;
                background-color: $color-purple;
                color: $color-white;
                font-size:14px;
                font-family:"Montserrat";
                display: block;
                font-weight: 400;
                text-align: center;
                padding-top: 8px;
                text-decoration: none;
                margin-left: 212px;
            }
        }

        &__right {
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            &__top {
                position: relative;
                margin-bottom: 30px;
                &__detail {
                    position: absolute;
                    top: 42.5%;
                    left: 57px;
                }

                .descr__top {
                    color: $color-grey;
                    font-size: 16px;
                    letter-spacing: 3.3px;
                    font-family: "Montserrat";
                    text-transform: uppercase;
                    font-weight: 500;
                    line-height: 1.2;
                    margin-bottom: 0;
                }
                
                .descr__bot {
                    font-size: 20px;
                    font-family: "Montserrat";
                    color: $color-black;
                    text-transform: uppercase;
                    font-weight: 800;  
                    line-height: 1.2;
                }
            }
            &__bot {
                position: relative;
                margin-bottom: 30px;
                &__detail {
                    position: absolute;
                    top: 36.2%;
                    left: 38px;
                    text-decoration: none;
                    .descr__top {
                        font-size: 16px;
                        font-family: "Montserrat";
                        letter-spacing: 3.5px;
                        color: rgb(97, 97, 97);
                        text-transform: uppercase;
                        font-weight: 500;
                        line-height: 1.2;
                        margin-bottom: 0;
                    }
                    .descr__bot {
                        font-size: 20px;
                        font-family: "Montserrat";
                        color: black;
                        text-transform: uppercase;
                        font-weight: 800;  
                        line-height: 1.2;
                    }
                }
            }
            &__btn {
                height: 40px;
                width: 106px;
                margin-left: 4px;
                background-color: $color-purple;
                color: $color-white;
                font-size:14px;
                font-family:"Montserrat";
                display: block;
                font-weight: 400;
                text-align: center;
                padding-top: 10px;
                text-decoration: none;
            }
        }
    }
}