$bg-footer: rgb(34, 34, 34);
$color-white: rgb(247, 247, 247);
$color-greyfooter: rgb(136, 136, 136);
$color-hr: rgb(57, 57, 57);
$color-red: rgb(255, 70, 40);
a{
    text-decoration: none;
    color: $color-greyfooter
}
a:hover{
    color: $color-white;
}
.footer {

  background-color: $bg-footer;

  .container {
    max-width: 1170px;
  }

  &-content {
    padding-bottom: 37px;
    &__row {
      display: flex;
      padding-top: 58px;
    }
    &__colleft {
      width: 30%;
      margin-right: 130px;

      .content-title {
        color: $color-white;
        margin-bottom: 23px;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.75px;
      }
      .break-line {
        width: 260px;
        display: block;
        border-bottom: 1px solid $color-white;
        margin-bottom: 22px;
      }
      .content-descr {
        color: $color-white;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        color: $color-greyfooter;
        letter-spacing: -0.46px;
        line-height: 21.5px;
        padding-right: 5px;

        a {
          color: $color-greyfooter;
          text-decoration: none;
          font-family: "Open Sans";
          font-weight: 500;
          width: 205px;
        }
        i {
          padding-right: 15px;
          font-size: 14px;
        }
      }
      .list-icon {
        display: flex;
        padding-top: 66px;
        li {
          color: $color-greyfooter;
          padding-right: 30px;
          letter-spacing: 1.5px;
        }
      }
    }
    &__colright {
      width: 30%;
      .content-title {
        color: $color-white;
        margin-bottom: 23px;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
      }

      .break-line {
        width: 260px;
        display: block;
        border-bottom: 1px solid $color-white;
        margin-bottom: 22px;
      }
      .content-descr {
        color: $color-white;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        color: $color-greyfooter;
        letter-spacing: -0.46px;
        line-height: 21.5px;
        padding-right: 40px;
        i {
          padding-right: 15px;
          font-size: 14px;
          line-height: 2.35;
        }
        a {
          color: $color-greyfooter;
          text-decoration: none;
          font-family: "Open Sans", sans-serif;
          font-weight: 500;
          width: 205px;
        }
        li{
          display: flex;
          line-height: 2.35;
        }
      }
      .list-icon {
        padding-top: 44px;
        li {
          color: $color-greyfooter;
          padding-right: 30px;
          letter-spacing: 1.5px;
        }
      }
    }
    &__colmid {
      width: 40%;
      margin-right: 130px;

      .content-title {
        color: $color-white;
        margin-bottom: 21px;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.5px;
        padding-top: 2px;
      }

      .break-line {
        width: 360px;
        display: block;
        border-bottom: 1px solid $color-white;
        margin-bottom: 21px;
      }

      .content-descr {
        color: $color-white;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        color: $color-greyfooter;

        &__row {
          line-height: 2.143;
          display: flex;
          justify-content: start;
          .nav-li {
            &:first-child {
              padding-right: 125px;
            }
          }

          li:hover {
            color: $color-white;
            text-decoration: underline;
          }
        }
      }
    }
  }

  hr {
    margin: 0 0 20px 0;
    color: 1px solid $color-hr;
    border-bottom: solid;
  }

  .footer-copyright {
    padding-bottom: 18px;
    &__content{
      display: flex;
      justify-content: space-between;
    }
    .copyright-aht {
      font-size: 14px;
      font-family: "Montserrat";
      font-weight: 400;
      line-height: 1.8;
      color: $color-greyfooter;

      i {
        &:nth-child(2) {
          color: $color-red;
        }
      }
    }
    .list-icons {
      color: $color-greyfooter;
      font-size: 20px;
    }
  }
}
