$color-black: rgb(0, 0, 0);
$color-lightgrey: rgb(199, 198, 198);
@media screen and (max-width: 1406px) {
  .header-menu__mainmenu__list {
    margin-right: 40px;
    .list__items {
      margin-left: 39px;
    }
  }
}
@media screen and (max-width: 1170px) {
  // header section
  .header-menu__mainmenu__list {
    margin-right: 0;
  }
  .header-menu__mainmenu__list .list__items {
    margin-left: 25px;
  }

  .responsive-bars {
    display: none;
    font-size: 24px;
  }
  // banner section
  .banner-ad {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .banner-ad__left {
    display: flex;
    justify-content: center;
    padding-right: 0;
    width: 100%;

    img {
      width: 100%;
    }

  }

  .banner-ad__right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    img {
      width: 100%;
    }
    margin-top: 30px;
    .banner-ad__right__top {
      margin: 0 30px 0 0;
      width: 50%;
    }
    .banner-ad__right__bot {
      width: 50%;
      padding-top: 0;
      margin-bottom: 0;
      overflow: hidden;
      img{
          position: absolute;
      }
      .descr__top {
        top: 38.5%;
      }
      .descr__bot {
        top: 47%;
      }
      .banner-ad__right__btn {
        left: 11%;
        top: 59.5%;
      }
    }
  }
  // products section
  .products {
    padding: 77px 0 30px 0px;

    .products-items__detail{
        width: calc((( 100% + 20px ) / 4 ) - 20px);
        margin: 0 20px 46px 0;
        &:nth-child(4n){
            margin-right: 0;
        }
    }

  }

  .slider .row-detail {
    width: 300px;
  }
  .footer-content__row {
    display: flex;
    flex-wrap: wrap;
    .footer-content__colleft {
      margin-bottom: 30px;
    }
  }
}
@media screen and (max-width: 1024px) {
  // header section
  .header-menu__mainmenu__list {
    display: flex;
    flex-direction: column;
    z-index: 999;
    position: fixed;
    background-color: $color-lightgrey;
    width: 35wh;
    height: 100vh;
    display: none;
    transition: 0.5s;
    position: absolute;
  }
  .list__items {
    padding: 16px 16px;
  }
  .active {
    display: block;
    transition: 0.5s;
    z-index: 1000;
    top: 47px;
    right: 0;
    position: absolute;
  }
  .header-menu__mainmenu .responsive-bars {
    display: block;
    position: relative;
  }
  .banner-ad__left {
    margin-right: 0;
  }
  .banner-ad__right {
    display: flex;
    flex-direction: row;
  }

  .slider{
      .row{
          .row-detail{
              width: 745px;
          }
      }
  }
  .header-menu__mainmenu__list .cart__list{
    display: block;
    margin-left: 40px;
    font-size: 24px;
  }
  .footer-content__colleft {
    padding-right: 112px;
    margin-right: 0;
    width: 50%;
    .break-line {
      width: 240px;
    }
    .list-icon {
      padding-top: 20px;
    }
  }
  .footer-content__colmid {
    width: 50%;
    margin-right: 0;
    .break-line {
      width: 300px;
    }
  }
  .footer-content__colright {
    width: 50%;
    .break-line {
      width: 240px;
    }
  }
}

@media screen and (max-width: 768px) {
  // header section
  .header-menu__topmenu {
    font-size: 10px;
  }
  .banner-ad__left {
    .banner-ad__left__detail{
        right: 40px;
    }
    .banner-ad__left__descr {
      font-size: 25px;
      letter-spacing: 0.5px;
    }
    .banner-ad__left__btn {
      width: 82px;
      height: 36px;
      font-size: 12px;
      margin-left: 194px;
    }
  }
  .banner-ad__right .banner-ad__right__top {
    width: 100%;
    margin-bottom: 30px;
    }
    .banner-ad__right .banner-ad__right__bot img {
    position: relative;
    }
  .banner-ad__right{
      display: flex;
      flex-direction: column;
      &__bot{
          img{
              position: relative;
          }
      }
      &__top {
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
        .descr__top {
          font-size: 15px;
        }
        .descr__bot {
          font-size: 17px;
        }
      }
      .banner-ad__right__bot {
        width: 100%;
        height: 100%;
        &__detail{
            left: 57px;
        }
        .descr__top {
          font-size: 15px;
        }
        .descr__bot {
          font-size: 17px;
        }
        .banner-ad__right__btn {
            width: 82px;
            height: 36px;
            font-size: 12px;
        }
    }
  }
  
  .products{
    .products-items__detail {
        width: calc((( 100% + 20px ) / 2 ) - 20px);
        margin: 0 20px 46px 0;
        &:nth-child(2n){
            margin-right: 0;
        }
        img {
        width: 100%;
        }
    }
    }   
  .slider .row-detail {
    width: 530px;
  }
  .footer-content__colleft {
    width: 100%;
    padding-right: 0;
    .break-line {
      width: 200px;
    }
  }
  .footer-content__colmid {
    width: 100%;
    margin-bottom: 30px;
    .break-line {
      width: 200px;
    }
    .content-descr__row {
      .nav-li {
        &:first-child {
          padding-right: 90px;
        }
      }
    }
  }
  .footer-content__colright {
    width: 100%;
    .break-line {
      width: 200px;
    }
  }
  .footer-content__colright .content-descr li{
    display: block;
  }
}

@media screen and (max-width: 576px) {
  // header section
  .header-menu__topmenu {
    display: none;
  }
  .cart__list{
      display: none;
  }
  .header-menu__mainmenu__list {
    top: 80px;
  }
  .banner-ad__left {
    .banner-ad__left__btn {
      width: 87px;
      height: 37px;
      font-size: 12px;
      margin-left: 117px;
    }
    .banner-ad__left__descr {
      font-size: 18px;
    }
  }
  .banner-ad__right__bot {
    .banner-ad__right__btn {
      width: 87px;
      height: 36px;
      font-size: 12px;
    }
  }
  .products{
    .products-items__detail {
        width: 100%;
        margin-right: 0;
    }
    }
  .footer {
    .container {
      padding: 0 15px;
    }
    &-content__colleft {
      width: 100%;
    }
    &-content__colmid {
      margin-bottom: 30px;
      width: 100%;
    }
    &-content__colright {
      width: 100%;
    }
    &-copyright__content{
        flex-direction: column;
        .list-icon{
            font-size: 11px;
        }
        .copyright-aht{
            font-size: 11px;
        }
    }
  }
}

@media screen and (max-width: 426px) {
  // header section
    .header-menu__mainmenu__cart {
        .cart__list {
            display: none;
        }
    }
  .header-menu__mainmenu {
    margin-right: 30px;
  }
  .header-menu__mainmenu__list {
    right: 0;
    top: 22.5%;
    .list__items {
      padding: 10px 10px;
    }
  }
  .banner-ad__left {
    .banner-ad__left__btn {
      width: 80px;
      height: 35px;
      font-size: 12px;
      margin-left: 100px;
    }
    .banner-ad__left__descr {
      font-size: 16px;
    }
  }
  .banner-ad__right__top {
    &__detail{
        top: 35.5%;
        left: 18px;
    }
    .descr__top {
      font-size: 12px;
    }
    .descr__bot {
      font-size: 13px;
    }
  }
  .banner-ad__right__bot {
    .banner-ad__right__bot__detail{
        top: 36.2%;
        left: 18px;
    }
    .descr__top {
      font-size: 14px;
    }
    .banner-ad__right__btn {
      width: 70px;
      height: 35px;
    }
    .descr__bot {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  .products-items {
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  // header section
  .header-menu__mainmenu{
    margin: 0 15px;
  }
  .header-menu__mainmenu__list {
    top: 81px;
    right: 0;
    width: 26vh;
    height: 100vh;
  }

  .banner-ad__left {
    .banner-ad__left__detail{
        right: 24px;
    }
    .banner-ad__left__descr {
      font-size: 15px;
    }
    .banner-ad__left__btn {
      width: 83px;
      height: 31px;
      padding-top: 6px;
      font-size: 13px;
      margin-left: 88px;
    }
  }
  .banner-ad__right__top {
    .descr__top {
      font-size: 11px;
    }
    .descr__bot {
      font-size: 13px;
    }
  }
  .banner-ad__right__bot {
    .banner-ad__right__bot__detail{
        top: 36.2%;
        left: 18px;
    }
    .descr__top {
      font-size: 12px;
    }
    .descr__bot { 
      font-size: 12px;
      margin-bottom: 10px;
    }
    .banner-ad__right__btn {
      width: 70px;
      height: 30px;
      font-size: 12px;
      padding-top: 6px;
      padding-left: 0px;
    }
  }
}
