$color-purple: rgb(130, 98, 181);
$color-black: rgb(0,0,0);
$color-bluwhi: rgb(161,209,221);
$color-white: rgb(255,255,255);
$color-greybd: rgb(237,237,237);
$color-greyicon: rgb(200,200,200);

a{
    text-decoration: none;
}

.slider{
    background-image: url('/exerciseaht/assets/image/bg-slider.jpg');

    .container{
        max-width: 1170px;
    }

    .slider-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    p{
        &:first-child{
            color: $color-purple;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 6px;
            margin: 74px 0 5px 6px;
            
        }
        font-family: 'Montserrat';
        font-weight: 700;
        text-transform: uppercase;
        font-size: 24px;
        color: $color-black;
        letter-spacing: 2.5px;
        padding-left: 4px;
    }

    .custom-line{
        width: 52px;
        color: $color-purple;
        display:inline-block;
        border-bottom: 1px solid;
        padding-top: 4px;
    }
    .row{
        margin: 50px 0 0 ;
        padding-bottom: 106px;
        .slick-slide {
            margin : 3px 18px;
        }
        .slick-list {
            margin : 0 -18px;
        }
        .slick-dots{
            bottom :63px;
            padding-left: 5px;
        }

        .slick-dots li button:hover:before{
            color: $color-purple;
        }

        .slick-dots .slick-slider{
            margin-bottom: 0;
        }
        .slick-dots li button:focus:before{
            transform: scale(1.5,1.5);
        }
        .slick-dots li button:before{
            font-size: 10px;
            color: $color-purple
        }
        .slick-dots li button:active{
            color: $color-purple;
        }
        &:nth-child(3n){
            margin-right: 0;
        }
        &-detail{
            background-color: $color-white;
            margin-right: 30px;
            img{
                width: 100%;
            }
            &__image{
                position: relative;
            }
            .day{
                position: absolute;
                width: 60px;
                height: 60px;
                background-color: $color-bluwhi;
                top: 22px;
                left:20px;

                ul{
                    margin: 10px 5px 4px 5px;
                    text-align: center;
                    color: $color-white;
                    
                    li{
                        &:first-child{
                            font-weight: 400;
                            margin-top: 3px;
                        }
                        font-family: 'Montserrat';
                        font-size: 14px;
                        font-weight: 700;
                    }
                }
            }
            .day::before{
                content: "";
                position: absolute;
                width: 48px;
                height: 48px;
                border: 1px solid $color-white;
                top: 10%;
                left: 10%;
            }

            .detail-title{
                margin: 18px 20px 17px 19px;
                font-size: 16px;
                color: $color-black;
                line-height: 1.225;
                text-decoration: none;
                font-family: 'Montserrat';
                font-weight: 600;
            }

            .detail-title:hover{
                color: $color-purple;
                cursor: pointer;
            }

            .paragr{
                padding: 0 20px 18px 20px;    
                font-size: 14px;
                color: $color-black;
                line-height: 1.571;
                text-decoration: none;
                font-family: 'Montserrat';
                font-weight: 400;
                border-bottom: 1px solid $color-greybd ;
            }

            .client-react{
                display: flex;
                padding: 14px 20px 16px 20px;
                line-height: 1.571;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;

                a{
                    text-decoration: none;
                    font-size: 14px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 500;
                    color: $color-greyicon;
                    padding-right: 32px;
                }

                i{
                    padding-right: 5px;
                }
            }
        }
        }
}